{% extends 'pizza/base.html' %}
{% load widget_tweaks %}

{% block content %}

{{ note }}
<h1>Order a pizza </h1>

    <form enctype="multipart/form-data" action="{% url 'order' %}" method = "POST">
        {% csrf_token %}
        <div class = "form-group">
            {% for field in pizzaform %}
                {{ field.errors }}
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
            {% endfor %}
        </div>  
        <button type="submit" class = "btn btn-outline-info">order</button>

    </form>

{% endblock content %}