.container {
    max-width:700px ;
    border : 0.5em solid black ; 
    padding : 1em ; 
    margin-top : 2em ; 
    background-color: #99F1EB;
}

#section1 {
    font-size: 4vw ;
    color : firebrick ; 
    font-family: monospace;
    text-align: center;
}